{% extends "network/layout.html" %}

{% load static %}

{% block scripts %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}



{% block body %}

<div>
    <h2>Write a new post</h2>
    {% if user.is_authenticated %}
    <form method="POST" action="">
        {% csrf_token %}
        <textarea name="post" placeholder="Write new post"></textarea>
        <br>
        <button class="button">Post</button>
    </form>
    {% else %}
    <p>Please log in to post</p>
    {% endif %}
</div>

<br>
<br>

<div>
    {% for post in posts %}
    <div class="index_post">
        <div id="post_{{post.id}}">
        <h4><strong><a href="{% url 'profile' post.poster.username %}">{{ post.poster }}</a></strong> says:</h4>
        {{ post.post }}
        <br>
        {{ post.date }}
        </div>

        <button class="likebutton">Like</button>
        {% if request.user == post.poster %}
        <button class="editbutton" id="editbutton_{{post.id}}">Edit Post</button>

        <div class="edit_post" id="edit_{{post.id}}">
            <form>
                {% csrf_token %}
                <textarea name="text">{{ post.post }}</textarea>
                <button type="submit">Save edit</button>
            </form>
        </div>
        {% endif %}
    </div>
    
    {% empty %}
    <strong>No new posts.</strong>
    {% endfor %}
</div>
    
{% endblock %}