{% extends "network/layout.html" %}

{% load static %}

<script src="{% static 'network/index.js' %}"></script>




{% block body %}

<button id="test_button">Press me!</button>

<div>
    <h2>Write a new post</h2>
    {% if user.is_authenticated %}
    <form method="POST" action="">
        {% csrf_token %}
        <textarea name="post" placeholder="Write new post"></textarea>
        <br>
        <button class="button">Post</button>
    </form>
    {% else %}
    <p>Please log in to post</p>
    {% endif %}
</div>

<br>
<br>

<div>
    {% for post in posts %}
    <div class="index_post">
        <h4><strong><a href="{% url 'profile' post.poster.username %}">{{ post.poster }}</a></strong> says:</h4>
        {{ post.post }}
        <br>
        {{ post.date }}

        <br>
        {% if request.user == post.poster %}
        <button class="editbutton">Edit Post</button>
        {% endif %}
    </div>
    
    {% empty %}
    <strong>No new posts.</strong>
    {% endfor %}
</div>
    
{% endblock %}